#article_detail{
    width: 40%;
    margin: 20px auto 0;
}

span{
    font-size: 16px;
}

.comment_item{
    background-color: rgb(181, 188, 209);
    padding: 10px 0 10px 20px;
    color: rgb(9, 61, 139);
}

#comments{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

#comments_title{
    margin-top: 20px;
}
.form-card , .face-snap-card{
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: rgb(240, 233, 233) 4px 4px 20px;
  }
  
  .form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input, textarea {
    width: 50%;
  }
  
  .action-buttons {
    width: 100%;
  }
  
  button {
    color: azure;
    background-color: rgb(9, 61, 139);
    display: block;
    margin: 20px auto;
  }