<div class="form-card">
    <h2>NOUVEl ARTICLE</h2>
    <form [formGroup]="articleForm" >
        <div class="form-group">
            <label for="title">Titre</label>
            <input id="title" type="text" formControlName="title">
        </div>
        <div class="form-group">
            <label for="content">Description</label>
            <textarea id="content" type="text" formControlName="content" rows="4">
            </textarea>
        </div>
        <div class="form-group">
            <label for="autor">Auteur</label>
            <input id="autor" type="text" formControlName="autor" >
        </div>
        <div class="form-group">
            <label for="date" >Date</label>
            <span *ngIf="articleForm.controls['date'].errors?.['invalidDate'] && (articleForm.controls['date'].dirty || articleForm.controls['date'].touched)" style="color: red;"> {{articleForm.controls['date'].errors?.['invalidDate']}}
            </span>
            <input type="date"  class="form-control" formControlName="date">
            
        </div>
           
        
        
        <div class="action-buttons">
            <button  type="submit" (click)="onSubmitForm()" [disabled]="articleForm.invalid">Enregistrer</button>
        </div>
    
    </form>
</div>
<div class="face-snap-card" *ngIf="articlePreview$ | async as article">
    <h2>{{ article.title | uppercase }}</h2>
    <p><strong> Contenu </strong>{{ article.content }}</p>
    <p> <strong>Rédiger par </strong>{{ article.autor }}</p>
    <p> <strong>Mis en ligne le </strong> {{ article.date | date: 'd MMMM yyyy'}}</p>
</div>
